# Dependencies
node_modules
npm-debug.log*

# Git
.git
.gitignore
.github

# Build outputs
dist

# Testing
coverage
*.spec.ts
*.test.ts

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Documentation
README.md
*.md

# CI/CD
.prettierignore
.prettierrc
eslint.config.mjs
tsconfig.json
tsconfig.build.json

# Other
LICENSE
